.nav_bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 50px;
    
}
.nav_bar > .navlink{
    padding: 20px;
    border: .5px solid rgb(255, 205, 255);
    background-color: rgba(0, 255, 255, 0.274);
    color: rgb(255, 255, 255);


    text-decoration: none;
}
